.assetHeader {
    border: 2px solid black;
}

.assetList {
    border: 2px solid black;
}

.listButton {
    margin-bottom: 5px;
}

.buttonColumn {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.detailCard {
    margin-bottom: 7px;
}

.detailButton {
    margin-bottom: 5px;
    margin-right: 5px
}